<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card position-relative m-3" th:fragment="viewcard" th:object="${article}">
  <img onclick="goto()" th:src="${article.imageURL}" class="card-img-top " alt="...">
  <div class="row">
    <div class="col-4" >
      <a th:href="@{'/viewprofile/'+${article.id}}" style="cursor: pointer"><img  class="image-profile border-3 border btn-primary position-absolute rounded-circle " th:src="${article.author.profileImage}" alt=""/></a>
    </div>
    <div class="col-6">
      <h3 th:text="${article.author.username}">one_jonh</h3>
      <h5 class="text-warning">@[[${article.author.username}]]</h5>

    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title " th:text="${article.title}">Card title</h5>
    <div class="d-flex gap-2">
      <p class="card-title bg-warning rounded-2 p-1 text-white">[[${article.category.category}]]</p>
      <p class="card-title bg-warning rounded-2 p-1 text-white">Programming</p>
    </div>
    <p class="card-text" th:text="${article.article}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class=" float-end ">
      <button class="btn btn-outline-primary" ><a class="text-decoration-none" th:href="@{'/viewprofile/'+${article.id}}">View Detail</a></button>
      <button class="btn btn-outline-warning" ><a class="text-decoration-none" th:href="@{'/updateId/'+${article.artId}+'/'+${article.id}}">Edit</a></button>
      <button class="btn btn-outline-danger" onclick="confirm('Do you want delete?')"><a class="text-decoration-none" th:href="@{'/deleteId/'+${article.artId}}">Delete</a></button>
    </div>
  </div>
</div>
</body>
</html>